:root{
    --color-primary: #e58f00;
    --color-secundary: #17171e;
    --color-ternario: #323239;
    --color-font: #fff;
    --logo-height: 100px;
    --logo-width: 90px;
    --color-banner:rgba(50,50,57,0.92);
}

/* Fuente Click Aqui : https://fonts.google.com/specimen/Roboto+Slab?preview.text=Contact%20Us%20For&query=%5BAachen */
/* Iconos Click Aqui: https://boxicons.com/ */